.dishWrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1{
    text-align: center;
}

.allButtons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}   

.allButtons button{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}